@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, p, span {
    color: #fff;
    font-family: 'Fredoka One', cursive;
}

.container {
    position: absolute;
    background: rgb(120,33,176);
    background: linear-gradient(0deg, rgba(120,33,176,1) 0%, rgba(102,43,226,1) 100%);
    height: 100%;
    width: 100%;
}

#question-container {
    max-width: 50vw;
    margin: 0 auto;
}

#answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-number {
    font-family: 'Fredoka One', cursive;
    font-weight: 300;
    font-size: 1em;
    color: #fff;
    margin-top: 25px;
}

.answer-btn {
    font-size: 1em;
    color: #0f0f0f;
    width: 100%;
    padding: 25px 0;
    border: none;
    border-radius: 5px;
    margin: 10px;
    
}

.answer-btn:hover {
    box-sizing: border-box;
    outline: 3px solid rgb(57, 163, 224);
    outline-offset: -2px;
    background-color: rgb(158, 216, 250);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.2);
}

.answer-btn:active {
    background-color: rgb(81, 188, 250);
    cursor: pointer;
    box-shadow: inset 3px 3px 5px rgba(0,0,0, 0.4);
}

.heading {
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 100px;
}

.heading__small {
    font-size: 1.5em;
    margin: 0;
}

.centered {
    width: 100;
    margin: 0 auto;
}

#username {
    border: none;
    height: 35px;
    width: 250px;
}

fieldset {
    border: none;
}

label {
    color: #fff;
    display: none;
}

.btn-play {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #0f0f0f;
    background-color: rgb(45, 255, 80);
}

.btn-play:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.2);
    box-sizing: border-box;
    outline: 3px solid rgb(28, 207, 58);
    outline-offset: -2px;
}

.btn-play:active {
    cursor: pointer;
    box-shadow: inset 3px 3px 5px rgba(0,0,0, 0.4);
}

.center-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#result-container .heading {
    margin-top: 0px;
}

#result-container:first-child {
    margin-top: 100px;
}

@media only screen and (max-width: 800px) {

    #question-container {
        max-width: 90%;
    }

    #question-container .heading, #result-container .heading {
        font-size: 1.5em;
    }

    #question-container .heading__small {
        font-size: 1em;
    }

}