d<script lang="ts" setup>
import { computed, onMounted, ref} from 'vue';
import { useStore } from 'vuex';
import { getQuestions } from '../api/questions';
import { getUserInfo, patchUserScore } from '../api/users';
let counter = ref(0);
let answered: Array<string> = [];

const store = useStore();
const questions = computed(() => store.state.questions);


if(!localStorage.getItem("username")) {
    location.replace("/");
} 

const error = ref<string | null>(null);

onMounted(async () => {
    const [_error, _questions] = await getQuestions();
    store.commit("setQuestions", _questions);
    error.value = _error;
})

const handleClick = async (answer: string) => {
    let score: number = 0;
    if(counter.value < 9) {
        counter.value++;
    }

    if(answered.length < 10) answered.push(answer)

    console.log(answered.length);
    
    if(answered.length == 10) {
        for(let i = 0; i < questions.value.length; i++) {
            if(questions.value[i].correct_answer == answered[i]) score += 10;
        }
            const username = JSON.stringify(localStorage.getItem("username"));
            const user = await getUserInfo(JSON.parse(username));
            console.log("..---..");
            
            console.log(score);
            console.log(user[0].highScore);
            
            if(score >= user[0].highScore) {
                await patchUserScore(user[0].id, score)
                localStorage.setItem("currentScore", JSON.stringify(score));
                localStorage.setItem("highScore", JSON.stringify(score));
                setTimeout(() => {
                    location.replace("/result");
                }, 250) 
            } else {
                localStorage.setItem("currentScore", JSON.stringify(score));
                localStorage.setItem("highScore", JSON.stringify(user[0].highScore));
                setTimeout(() => {
                    location.replace("/result");
                }, 250) 
            }        
    }
}

</script>
<template>
<div class="container">
    <div v-if="questions.length > 0" id="question-container">
        <h1 v-html="questions[counter].question" class="heading"></h1>
        <div id="answers-container">
            <button @click="handleClick(questions[counter].correct_answer)" class="answer-btn" v-html="questions[counter].correct_answer"></button>
            <button v-for="incorrectAnswer of questions[counter].incorrect_answers" @click="handleClick(incorrectAnswer)" class="answer-btn" v-html="incorrectAnswer"></button>
            <p id="question-number">{{ counter + 1 }} / {{ questions.length }}</p>
        </div>
    </div>
</div> 
</template>
