<script setup lang="ts">
    import { ref } from "vue";


    const username = JSON.stringify(localStorage.getItem("username"));
    const highScore = JSON.stringify(localStorage.getItem("highScore"));
    const currentScore = JSON.stringify(localStorage.getItem("currentScore"));
    if(!username) {
        location.replace("/");
    }
    const user = ref({
        username: "unknown",
        highScore: "0",
        currentScore: "0"
    })
    user.value.username = JSON.parse(username);
    user.value.highScore = JSON.parse(highScore);
    user.value.currentScore = JSON.parse(currentScore);
    
    const logout = () => {
        localStorage.clear();
        location.replace("/");
    }
</script>

<template>
    <div class="container">
        <div id="result-container" class="center-parent">
            <h2 class="heading">{{ user.username }}</h2>
            <h2 class="heading">Highscore: <span>{{ user.highScore }}</span></h2>
            <h2 class="heading">Current score: <span>{{ user.currentScore }}</span></h2>
            <button class="btn-play" @click="logout()">Logout</button>
        </div>
    </div>
</template>