<script setup lang="ts">
    import { ref } from "vue";
    import { useStore } from "../store";
    import { apiUserRegister } from "../api/users";
    import { getUserInfo } from "../api/users";
    import router from "../router";

    const store = useStore();
    const username = ref("")

    const onSubmit = async () => {
        let user = await getUserInfo(username.value.toLowerCase());   
        if (user.length == 0) {
            const [ _error, _user ] = await apiUserRegister(username.value.toLowerCase());
            console.log("ERR", _error);
            console.log("USER", _user);
            localStorage.setItem("username", username.value.toLowerCase());
        }
        else {
            localStorage.setItem("username", username.value.toLowerCase());
        }
        router.replace("/questions");    
    }



</script>

<template>
    <div id="startScreen" class="container">
        <div class="centered center-parent">
            <h1 class="heading">TRIVIA</h1>
            <form @submit.prevent="onSubmit" id="startForm" class="center-parent">
                <fieldset>
                    <h2 class="heading heading__small">Enter username</h2>
                    <label for="username" aria-label="Username">Username</label>
                    <input type="text" id="username" placeholder="TriviaMaster420" v-model="username" />
                </fieldset>
                    <button aria-label="Submit username and start the game" type="submit" class="btn-play">Play now</button>
            </form>
        </div>
    </div>
</template>
